name: CI
on:
    pull_request:
    push:
        branches:
            - master
        tags:
            - 'v*.*.*'

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: '14'
                  registry-url: https://npm.pkg.github.com
                  scope: '@metacall'

            - name: Installing Dependencies
              run: npm i

            - name: Lint
              run: npm run lint

            - name: Build
              run: npm run build

            - name: Run Tests
              run: npm run test

            - name: Publish to GitHub Registry (Public)
              if: startsWith(github.ref, 'refs/tags/')
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
